html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0px;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media (min-width: 1600px) {
  .conteiner {
    max-width: 1600px;
    padding: 0 215px;
  }
}

.btn {
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --button-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
  --alt-font: "Raleway", sans-serif;
}

.blue--color {
  color: var(--blue-color);
}

.nav {
  display: flex;
  align-items: center;
  color: #fff;
}

@media (min-width: 480px) {
  .nav {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 80px;
  }
}

@media (min-width: 1600px) {
  .nav {
    height: 80px;
  }
}

.nav__header {
  color: var(--black-color);
  font-family: var(--alt-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
}

.nav__block-1 {
  width: 294px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

@media (min-width: 768px) {
  .nav__block-1 {
    opacity: 1;
    position: static;
    margin-left: 88px;
    margin-right: 84px;
  }
}

@media (min-width: 1600px) {
  .nav__block-1 {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.nav__block-1__link {
  pointer-events: none;
  position: relative;
}

@media (min-width: 768px) {
  .nav__block-1__link {
    pointer-events: visible;
  }
}

.nav__block-1__link::before {
  content: "";
  position: absolute;
  width: 98%;
  opacity: 0;
  height: 1px;
  display: block;
  margin-top: 30px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__block-1__link:hover::before {
  opacity: 1;
}

.blue--transition {
  color: var(--black-color);
  transition: var(--color-transition);
}

.blue--transition:hover, .blue--transition:focus {
  color: var(--blue-color);
}

@media (min-width: 768px) {
  .nav__block-2 {
    width: 138px;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
  }
}

@media (min-width: 1600px) {
  .nav__block-2 {
    width: 333px;
    height: 16px;
    flex-wrap: nowrap;
  }
}

.nav__block-2__links-1 {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .nav__block-2__links-1 {
    opacity: 1;
    position: static;
    pointer-events: visible;
    margin-right: 0px;
    width: 138px;
    height: 14px;
    font-size: 12px;
    line-height: 1.16;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .nav__block-2__links-1 {
    margin-right: 30px;
    width: 161px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.nav__block-2__links-2 {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .nav__block-2__links-2 {
    opacity: 1;
    position: static;
    pointer-events: visible;
    width: 123px;
    height: 14px;
    font-size: 12px;
    line-height: 1.16px;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .nav__block-2__links-2 {
    width: 142px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.nav__svg {
  fill: var(--gray-color);
  transition: var(--fill-transition);
}

.blue--transition-special {
  transition: var(--color-transition);
}

.blue--transition-special:hover,
.blue--transition-special:focus {
  color: var(--blue-color);
}

.blue--transition-special:hover .nav__svg,
.blue--transition-special:focus .nav__svg {
  fill: var(--blue-color);
}

@media (min-width: 768px) {
  .nav__svg-message {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media (min-width: 1600px) {
  .nav__svg-message {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .nav__svg-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media (min-width: 1600px) {
  .nav__svg-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.nav__menu-button {
  transition: var(--fill-transition);
}

.nav__menu-button:hover {
  fill: var(--blue-color);
}

@media (min-width: 480px) {
  .nav__menu-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 425px;
    top: 10px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .nav__menu-button {
    opacity: 0;
    pointer-events: none;
  }
}

.header {
  background-size: cover;
}

@media (min-width: 480px) {
  .header {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/Header-phone.jpg);
    padding: 118px 60px 118px 60px;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .header {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/Header-tablet.jpg);
    padding: 118px 204px 118px 204px;
    height: 400px;
  }
}

@media (min-width: 1600px) {
  .header {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/Header-desktop.jpg);
    padding: 200px 452px 200px 452px;
    height: 600px;
  }
}

.header-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-width: 1600px) {
  .header-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.header-button {
  width: 200px;
  height: 50px;
  transition: var(--button-transition);
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.header-button:hover {
  background-color: #fff;
  color: var(--blue-color);
}

@media (min-width: 480px) {
  .header-button {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 768px) {
  .header-button {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 1600px) {
  .header-button {
    margin-left: 248px;
    margin-right: 248px;
  }
}

.header__form__backdrop {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.header__form--centering {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form {
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  position: relative;
}

@media (min-width: 480px) {
  .form {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 768px) {
  .form {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1600px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

.form__close-button {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  top: -32px;
  width: 30px;
  height: 30px;
}

@media (min-width: 480px) {
  .form__close-button {
    left: 372px;
  }
}

@media (min-width: 768px) {
  .form__close-button {
    left: 372px;
  }
}

@media (min-width: 1600px) {
  .form__close-button {
    left: 450px;
  }
}

.form__close-button:hover .form__close-button-svg {
  fill: var(--blue-color);
}

.form__close-button-svg {
  transition: var(--fill-transition);
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
}

.form__title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-top: -30px;
}

@media (min-width: 480px) {
  .form__title {
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .form__title {
    line-height: 1.5;
  }
}

@media (min-width: 1600px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  outline: none;
  display: block;
  padding-left: 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

@media (min-width: 480px) {
  .form__input {
    width: 370px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .form__input {
    width: 370px;
    height: 40px;
  }
}

@media (min-width: 1600px) {
  .form__input {
    width: 448px;
    height: 40px;
  }
}

.form__input:focus {
  border-color: var(--blue-color);
}

.form__input:focus + .form__svg {
  fill: var(--blue-color);
}

.form__svg {
  position: absolute;
  transition: var(--fill-transition);
  fill: var(--black-color);
}

@media (min-width: 480px) {
  .form__svg-person {
    top: 143px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
  .form__svg-phone {
    top: 211px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
  .form__svg-email {
    top: 280px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .form__svg-person {
    top: 145px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
  .form__svg-phone {
    top: 220px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
  .form__svg-email {
    top: 291px;
    left: 52px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1600px) {
  .form__svg-person {
    top: 106px;
    left: 53px;
    width: 18px;
    height: 18px;
  }
  .form__svg-phone {
    top: 178px;
    left: 53px;
    width: 18px;
    height: 18px;
  }
  .form__svg-email {
    top: 250px;
    left: 53px;
    width: 18px;
    height: 18px;
  }
}

.form__textarea {
  resize: none;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

@media (min-width: 480px) {
  .form__textarea {
    width: 370px;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .form__textarea {
    width: 370px;
    height: 120px;
  }
}

@media (min-width: 1600px) {
  .form__textarea {
    width: 448px;
    height: 120px;
  }
}

.form__textarea:focus {
  border-color: var(--blue-color);
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  transform: scale(1.28, 1.2);
  position: absolute;
  border-color: var(--black-color);
}

@media (min-width: 480px) {
  .form__checkbox {
    top: 486px;
    left: 40px;
  }
}

@media (min-width: 768px) {
  .form__checkbox {
    top: 486px;
    left: 40px;
  }
}

@media (min-width: 1600px) {
  .form__checkbox {
    top: 442px;
    left: 52px;
  }
}

.form__license-text {
  position: absolute;
  top: 437px;
  left: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 480px) {
  .form__license-text {
    top: 484px;
    left: 64px;
    font-size: 12px;
    line-height: 1.66;
  }
}

@media (min-width: 768px) {
  .form__license-text {
    top: 484px;
    left: 64px;
    font-size: 12px;
    line-height: 1.66;
  }
}

@media (min-width: 1600px) {
  .form__license-text {
    top: 437px;
    left: 76px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__license-text-decoration {
  cursor: pointer;
  text-decoration: underline;
  color: var(--blue-color);
}

.form__btn {
  position: absolute;
  width: 200px;
  height: 50px;
  transition: var(--button-transition);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media (min-width: 480px) {
  .form__btn {
    left: 125px;
    top: 519px;
  }
}

@media (min-width: 768px) {
  .form__btn {
    left: 125px;
    top: 519px;
  }
}

@media (min-width: 1600px) {
  .form__btn {
    left: 164px;
    top: 491px;
  }
}

.form__btn:hover {
  background-color: #fff;
  color: var(--blue-color);
}

.section {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .section {
    height: 1114px;
    padding: 60px 15px;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .section {
    height: 627px;
    padding: 60px 15px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1600px) {
  .section {
    height: 439px;
    padding: 94px 215px;
    flex-direction: row;
  }
}

.section__svg {
  background-color: #f5f4fa;
}

@media (min-width: 480px) {
  .section__svg {
    width: 450px;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .section__svg {
    width: 354px;
    height: 120px;
  }
}

@media (min-width: 1600px) {
  .section__svg {
    width: 270px;
    height: 120px;
  }
}

@media (min-width: 480px) {
  .section__block {
    width: 450px;
    height: 226px;
  }
}

@media (min-width: 768px) {
  .section__block {
    width: 354px;
    height: 226px;
  }
}

@media (min-width: 1600px) {
  .section__block {
    width: 270px;
    height: 251px;
  }
}

.section__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.section__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.aside {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 1600px) {
  .aside {
    opacity: 1;
    pointer-events: visible;
    padding: 0px 215px 94px 215px;
    height: 480px;
  }
}

.aside__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.aside__img-conteiner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aside__img {
  width: 370px;
  height: 294px;
}

.aside__blackout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.aside__blackout__first {
  left: 0px;
}

.aside__blackout__second {
  left: 400px;
}

.aside__blackout__third {
  left: 800px;
}

.aside__blackout-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 100;
}

.team {
  background-color: #f5f4fa;
}

@media (min-width: 480px) {
  .team {
    height: 2761px;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) {
  .team {
    height: 1285px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .team {
    height: 708px;
    padding: 94px 215px;
  }
}

.team__conteiner {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .team__conteiner {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .team__conteiner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1600px) {
  .team__conteiner {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.team__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

@media (min-width: 480px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media (min-width: 768px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media (min-width: 1600px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

.team__card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 480px) {
  .team__card {
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .team__card {
    width: 354px;
    height: 536px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .team__card {
    width: 270px;
    height: 428px;
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .team__img {
    width: 450px;
    height: 460px;
  }
}

@media (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media (min-width: 1600px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__conteiner__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__conteiner__text {
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__conteiner__svg-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.team__conteiner__svg-list__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: var(--background-transition);
}

.team__conteiner__svg-list__conteiner:hover {
  background-color: var(--blue-color);
}

.team__conteiner__svg-list__svg {
  transition: var(--fill-transition);
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team__conteiner__svg-list__conteiner:hover > .team__conteiner__svg-list__svg {
  fill: #fff;
}
/*# sourceMappingURL=main.css.map */