html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  margin: 0px;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media (min-width: 1600px) {
  .conteiner {
    max-width: 1600px;
    padding: 0 215px;
  }
}

.btn {
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --button-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
  --alt-font: "Raleway", sans-serif;
}

.blue--color {
  color: var(--blue-color);
}

.nav {
  display: flex;
  align-items: center;
  color: #fff;
}

@media (min-width: 480px) {
  .nav {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 80px;
  }
}

@media (min-width: 1600px) {
  .nav {
    height: 80px;
  }
}

.nav__header {
  color: var(--black-color);
  font-family: var(--alt-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
}

.nav__block-1 {
  width: 294px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

@media (min-width: 768px) {
  .nav__block-1 {
    opacity: 1;
    position: static;
    margin-left: 88px;
    margin-right: 84px;
  }
}

.nav__block-1__link {
  pointer-events: none;
  position: relative;
}

@media (min-width: 768px) {
  .nav__block-1__link {
    pointer-events: visible;
  }
}

.nav__block-1__link::before {
  content: "";
  position: absolute;
  width: 98%;
  opacity: 0;
  height: 1px;
  display: block;
  margin-top: 30px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__block-1__link:hover::before {
  opacity: 1;
}

.blue--transition {
  color: var(--black-color);
  transition: var(--color-transition);
}

.blue--transition:hover,
.blue--transition:focus {
  color: var(--blue-color);
}
@media (min-width: 1600px) {
  .nav__block-1 {
    margin-left: 93px;
    margin-right: 305px;
  }
}

@media (min-width: 768px) {
  .nav__block-2 {
    width: 138px;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
  }
}

@media (min-width: 1600px) {
  .nav__block-2 {
    width: 333px;
    height: 16px;
    flex-wrap: nowrap;
  }
}

.nav__block-2__links-1 {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .nav__block-2__links-1 {
    opacity: 1;
    position: static;
    pointer-events: visible;
    margin-right: 0px;
    width: 138px;
    height: 14px;
    font-size: 12px;
    line-height: 1.16;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .nav__block-2__links-1 {
    margin-right: 30px;
    width: 161px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.nav__block-2-links-2 {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .nav__block-2__links-2 {
    opacity: 1;
    position: static;
    width: 123px;
    height: 14px;
    font-size: 12px;
    line-height: 1.16px;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .nav__block-2__links-2 {
    width: 142px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.nav__svg {
  fill: var(--gray-color);
  transition: var(--fill-transition);
}
.blue--transition-special {
  transition: var(--color-transition);
}

.blue--transition-special:hover,
.blue--transition-special:focus {
  color: var(--blue-color);
}

.blue--transition-special:hover .nav__svg,
.blue--transition-special:focus .nav__svg {
  fill: var(--blue-color);
}
@media (min-width: 768px) {
  .nav__svg-message {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media (min-width: 1600px) {
  .nav__svg-message {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .nav__svg-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media (min-width: 1600px) {
  .nav__svg-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.nav__menu-button {
  transition: var(--fill-transition);
}

.nav__menu-button:hover {
  fill: var(--blue-color);
}

@media (min-width: 480px) {
  .nav__menu-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 425px;
    top: 10px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .nav__menu-button {
    opacity: 0;
    pointer-events: none;
  }
}

.header {
  background-size: cover;
}

@media (min-width: 480px) {
  .header {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/Header-phone.jpg);
    padding: 118px 60px 118px 60px;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/Header-tablet.jpg);
    padding: 118px 204px 118px 204px;
    height: 400px;
  }
}

@media (min-width: 1600px) {
  .header {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/Header-desktop.jpg);
    padding: 200px 452px 200px 452px;
    height: 600px;
  }
}

.header-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-width: 1600px) {
  .header-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.header-button {
  width: 200px;
  height: 50px;
  transition: var(--button-transition);
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.header-button:hover {
  background-color: #fff;
  color: var(--blue-color);
}

@media (min-width: 480px) {
  .header-button {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 768px) {
  .header-button {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 1600px) {
  .header-button {
    margin-left: 248px;
    margin-right: 248px;
  }
}

.header__form__backdrop {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.header__form--centering {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form {
  background-color: #fff;
  padding: 20px 40px 40px 40px;
  width: 528px;
  height: 581px;
  position: relative;
}

.form__close-button {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  left: 450px;
  top: -12px;
  width: 30px;
  height: 30px;
}

.form__close-button-svg {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
}

.form__title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

form > label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  outline: none;
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
}

.form__svg {
  width: 0;
  height: 0;
}
/*# sourceMappingURL=main.css.map */
