html {
  box-sizing: border-box;
  overflow: auto;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  /* outline: 2px solid; */
}
body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
  width: 0px;
  height: 0px;
}
ul {
  list-style: none;
}
.species {
  display: flex;
  flex-direction: row;
}
:root {
  --blue-color: #2196f3;
}
/* .main-conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
/*  Top-line(nav)   */
.top-line {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 80px;
  margin-bottom: 0px;
  background-color: #fff;
}
.webstudio-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  min-width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;
}
.span-blue {
  color: #2196f3;
}
.top-line-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 294px;
  height: 80px;
  margin: 0px 0 0px 93px;
  padding: 0px;
}
.studio {
  position: relative;
  width: 49px;
  height: 16px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio:hover {
  color: #2196f3;
}
.studio::after {
  content: "";
  position: absolute;
  width: 49px;
  opacity: 0;
  height: 3px;
  display: block;
  margin-top: 30px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio:hover::after {
  opacity: 1;
}
.portfolio {
  position: relative;
  width: 77px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover {
  color: #2196f3;
}
.portfolio::after {
  content: "";
  position: absolute;
  width: 77px;
  opacity: 0;
  height: 3px;
  display: block;
  margin-top: 30px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover::after {
  opacity: 1;
}
.contacts {
  position: relative;
  width: 68px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: #2196f3;
}
.contacts::after {
  content: "";
  position: absolute;
  width: 68px;
  opacity: 0;
  height: 3px;
  display: block;
  margin-top: 30px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover::after {
  opacity: 1;
}
.mail-a {
  width: 164px;
  height: 18px;
  margin: 32px 50px 32px 331px;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-message {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  margin: 2px 10px 0 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-a:hover .svg-message {
  fill: #2196f3;
}
.mail-a:hover {
  color: #2196f3;
}
.svg-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-a {
  width: 142px;
  height: 16px;
  margin-left: 50px;
  margin-top: 32px;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-a:hover {
  color: #2196f3;
}
.tel-a:hover .svg-tel {
  fill: #2196f3;
}
/* Header */
.top-header {
  display: inline-block;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  margin: 0px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Header.jpg);
}
.efect {
  display: inline-block;
  box-sizing: border-box;
  width: 696px;
  height: 120px;
  margin: 200px 452px 30px 452px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.button {
  background-color: #2196f3;
  margin: 30px 700px 200px 700px;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #fff;
  color: var(--blue-color);
}
/* Особенности */
.species {
  display: flex;
  flex-direction: row;
  width: 1170px;
  height: 251px;
  margin: 94px 215px 94px 215px;
  justify-content: space-between;
}
.species-list {
  width: 270px;
  height: 251px;
  padding: 0px;
  margin: 0px;
}
.species-list-svg {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
}
.svg-main {
  width: 270px;
  height: 120px;
}

.species-h {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin: 30px 30px 10px 0px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.species-text {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}
/* Чем мы занимаемся */
.what-we-do {
  width: 1170px;
  height: 386px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 94px 215px;
}

.what-we-do-h {
  width: 1170px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  display: flex;
  justify-content: center;
}
.what-we-do-img {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 1170px;
  height: 294px;
  justify-content: space-between;
}
.black-img-div {
  position: relative;
}
.black-img {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  margin-bottom: 3px;
}
/* Наша команда */
.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  height: 708px;
}
.our-team-h {
  width: 264px;
  height: 42px;
  display: flex;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 94px 668px 50px 668px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  width: 1170px;
  height: 428px;
  margin-left: 215px;
}
.team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 88px) / 4);
  height: 428px;
}
.team-1 {
  margin-left: 0px;
}
.name-team-1 {
  width: 151px;
  height: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-style: normal;

  margin: 30px 59px 10px 60px;
}
.name-team-2 {
  width: 110px;
  height: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-style: normal;
  padding-right: 0px;
  margin: 30px 80px 10px 81px;
}
.name-team-3 {
  width: 151px;
  height: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-style: normal;

  margin: 30px 66px 10px 67px;
}
.name-team-4 {
  width: 151px;
  height: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  font-style: normal;

  margin: 30px 68px 10px 68px;
}
.team-down-1 {
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;

  display: inline;
  margin: 10px 70px 30px 70px;
}
.team-down-2 {
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;

  display: inline;
  margin: 10px 61px 30px 62px;
}
.team-down-3 {
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;

  display: inline;
  margin: 10px 97px 30px 97px;
}
.team-down-4 {
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;

  display: inline;
  margin: 10px 91px 30px 92px;
}
.team-svg-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  padding-left: 0px;
  margin: 16px 32px 0 32px;
}
.team-svg-list > li {
  width: 44px;
  height: 44px;
}
.team-svg-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg-link:hover {
  background-color: #2196f3;
}
.team-svg-link:hover .team-svg {
  fill: #ffffff;
}
.team-svg {
  fill: #afb1b8;
  width: 22px;
  height: 22px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Постоянные клиенты */
.clients {
  width: 1170px;
  height: 184px;
  margin: 94px 215px 94px 215px;
}
.clients svg {
  fill: #afb1b8;
}

.our-clients {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px 389px 50px 391px;
  display: inline-block;
  width: max-content;
}
.svg-clients-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
}
.client-link {
  width: 170px;
  height: 92px;
  display: flex;
  border: 1px solid rgba(175, 177, 184, 1);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover {
  border-color: #2196f3;
}
.client-link:hover .clients-svg-hover {
  fill: #2196f3;
}
.clients-svg-hover {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-clients-1 {
  width: 106px;
  height: 60px;
}
.svg-clients-2 {
  width: 106px;
  height: 60px;
}
.svg-clients-3 {
  width: 45px;
  height: 42px;
}
.svg-clients-4 {
  width: 85px;
  height: 41px;
}
.svg-clients-5 {
  width: 63px;
  height: 46px;
}
.svg-clients-6 {
  width: 94px;
  height: 44px;
}
/* Подвал */
.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  display: flex;
  flex-direction: row;
}
.white {
  color: #fff;
}
.footer-section {
  display: flex;
  flex-direction: column;
  width: 231px;
  height: 132px;
  margin: 60px 156px 60px 215px;
}
.webstudio-2 {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
  margin: 0px 0 20px 0px;
}
.span-blue-2 {
  color: #2196f3;
  margin-right: 0px;
}
.down-contacts {
  width: 231px;
  height: 81px;
}
.f-list-contacts {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.f-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin: 0px 0px 9px 0px;
}
.f-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-mail:hover {
  color: #2196f3;
}
.f-tel {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-tel:hover {
  color: #2196f3;
}
.f-contacts-tel {
  margin-top: 9px;
}
.f-contacts-li {
  width: 231px;
  height: 21px;
  display: flex;
}
.footer-social-list {
  width: 206px;
  height: 80px;
  margin: 72px 0 100px 70px;
}
.footer-icons-text {
  display: flex;
  width: 206px;
  height: 16px;
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-svg-list {
  width: 206px;
  height: 44px;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}
.footer-svg-list li {
  width: 44px;
  height: 44px;
  display: flex;
}
.footer-svg-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44454e;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg-link:hover {
  background-color: #2196f3;
}
.footer-svg-link:hover {
  fill: #fff;
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-form {
  height: 86px;
  width: 570px;
  margin-left: 93px;
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
}
.footer-label {
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-right: 12px;
}
.footer-input::placeholder {
  width: 47px;
  height: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--blue-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 28px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.footer-button:hover {
  background-color: #fff;
  color: var(--blue-color);
}
.footer-button:hover .footer-button-svg {
  fill: var(--blue-color);
}
.footer-button-svg {
  fill: #fff;
  width: 24px;
  margin-left: 10px;
  height: 24px;
}
/*  Form  */
.backdrop {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.form-conteiner {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.form {
  position: relative;
}
.button-close-form {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.svg-close-form {
  width: 30px;
  height: 30px;
}
